@model List<Category>

<div class="card shadow border = 0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h2 classs="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6 text-end">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn rounded btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thread> 
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>
                </th> 
            </tr>
            </thread>
            <tbody>
                @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder)){
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp_controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2 rounded-3">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp_controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2 rounded-3">
                                <i class="bi bi-trash3-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>  

</div>