@model Product

<div class="card shadow border = 0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h2 classs="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>

</div>
<div class="card-body p-4">
    <form method="post" class="row">
        <input asp-for="Id" hidden />
        <div class="border p-3">
            <div asp-validation-summary="All"> </div>  @*ModelOnly does not include property errors associated with a specific field.  None shows none *@
            <div class="form-floating py-2 col-12">
                <input asp-for="Title" disabled class="form-control border-0 shadow" />
                <label asp-for="Title" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Description" disabled class="form-control border-0 shadow" />
                <label asp-for="Description" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="ISBN" disabled class="form-control border-0 shadow" />
                <label asp-for="ISBN" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Author" disabled class="form-control border-0 shadow" />
                <label asp-for="Author" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="ListPrice" disabled class="form-control border-0 shadow" />
                <label asp-for="ListPrice" class="ms-2"></label>
            </div>

            <div class="row pt-2 mt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-danger form-control rounded-3">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn rounded-3 btn-outline-primary form-control">
                        Back to List
                    </a>
                </div>

            </div>

        </div>
    </form>
</div> 





